/**
 * Styles needed to merge Expanding Opportunities subtheme into Gesso Theme
 * @rdarling42
 *
 * */

html {font-size: 62.5% !important;}

#main li {
    margin-bottom:0.5rem;
}

#main h4 {
    margin-bottom: 1rem;
}

#our_work li {
    margin-bottom: 0.5rem;
}

.kresge-footer li {
    font-size: 14px !important;
}

.kresge-footer ul {
    margin-left: 0 !important;
}

.tb-megamenu-submenu li, .tb-megamenu-submenu p, .tb-megamenu-submenu a {
    font-size: 18px !important;
}

.pane.pane--page-tabs {
    display: none;
}

#header {
    position: relative;
    margin-top: -20rem;
    z-index: -5;
}

.section-expanding-opportunites .pane-kresge-header {
    background: rgba(49, 49, 49, 0.65) none repeat scroll 0 0;
    z-index:5;
}

.section-expanding-opportunites .pane-kresge-header:hover {
    background: #525051;
}

#banner h2, #cities h3, #our_work h2 {
    margin-bottom: 3rem;
}

#banner p, #banner_2 p, #our_work p {
    margin-bottom: 0; 
}
