/**
 * Styles needed to merge Expanding Opportunities subtheme into Gesso Theme
 * @rdarling42
 *
 * */

html {
    font-size: 62.5% !important; 
    overflow-x: hidden;
    width:100%;
}

body, h1, h2, h3, h4, h5, h6, li, p {
    font-family: 'metaplusregular' !important;
}

.section-expanding-opportunities li {
    margin-bottom:0;
    margin-left:0;
}

#main li {
    margin-bottom:0;
    margin-left:0;
}

#main ul {
    padding-left: 0;
}

#main em {
    display: block;
    font-size:1.5rem;
    margin-bottom: 1rem;
}

#main h4 {
    margin-bottom: 1rem;
}

#main p {
    margin-bottom: 0;
    font-family: "minion-pro-1","minion-pro-2",georgia,serif !important;
    line-height: 2.7rem;
}

#main strong {
    font-size:1.8rem;
    display: block;
    margin: 1rem 0;
}

#main .first-main-row .bg1 {
    min-height: 107rem;
}

.tb-megamenu .nav > li > a {
    font-size:17px !important;
}

#our_work li {
    margin-bottom: 0.5rem;
}

#our_work .large-12.columns {
    margin-bottom: 5rem;
}

.kresge-footer li {
    font-size: 14px !important;
}

.kresge-footer ul {
    margin-left: 0 !important;
}

.tb-megamenu-submenu li, .tb-megamenu-submenu p, .tb-megamenu-submenu a {
    font-size: 18px !important;
}

.pane.pane--page-tabs {
    display: none;
}

#header {
    position: relative;
    margin-top: -20rem;
    z-index: -5;
}

.section-expanding-opportunities .pane-kresge-header, .pane--kresge-header {
    background: rgba(49, 49, 49, 0.65) none repeat scroll 0 0;
    z-index:5;
}

.section-expanding-opportunities .pane-kresge-header:hover, .pane--kresge-header:hover {
    background: #525051;
}

#banner h2, #cities h3, #our_work h2 {
    margin-bottom: 3rem;
}

#banner p, #banner_2 p, #our_work p {
    margin-bottom: 0; 
}

/* Leading */
#cities p {
    line-height: inherit;
}

.ibox-wrap .ibox-content {
    line-height: 2.5rem;
}

#block_area_1 .fast-fact-content {
    font-size: 2.5rem;
}

#banner_2 p {
    line-height: inherit;
}

#our_work p {
    line-height: inherit;
}

.mobile-menu__bar {
    font-size:200%;
}

.nav--mobile-menu .nav__link {
    font-size:15px;
}

/* menu tweaks */
.tb-megamenu .mega > .dropdown-menu {
    top: 192px;
}

.pane-kresge-footer .footer-menu .nav>.nav__item.has-children>.nav__link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

/* footer tweaks */
.pane-kresge-footer .footer-stay-connected input[type="email"] {
    width: 100%;
    font-size: 20px;
    padding: 5px 10px;
    height: auto;
}

.pane-kresge-footer .footer-stay-connected .button {
    padding: 12px 10px;
    width: 100%;
    font-size: 20px;
}

.footer-stay-connected {
    font-size: 14px;
}


/* mobile tweaks */
@media(max-width: 975px){
    #header, #our_work_image {
        min-height:40rem; 
    }
    
    #banner h2, #banner_2 h2, #our_work h2 {
        font-size: 5rem; 
    }

    #banner p, #banner_2 p, #our_work p {
        font-size: 2rem; 
    }

    #cities h3 {
        font-size: 4.5rem; 
    }

    #cities p {
        font-size: 2.5rem; 
    }

    .box5 {
        background-position: center; 
    }

    .box3 {
        background-position: 60%; 
    }

    #banner_2 h2, #banner_2 p {
        padding: 0 1rem; 
    } 

    #our_work .large-3 p:last-child {
        padding-top: 0; 
        padding-bottom: 4rem;
    }

    .nav--mobile-menu img {
        display: none; 
    }

    .nav--mobile-menu .field--text {
        display: none; 
    }

    .nav--mobile-menu .nav__link {
        font-size: 155%; 
    }

}
